body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #745e69;
}

#body {
    position: relative;
    width: 100%;
    text-align: center;
}

#body .card-div {
    left: 50%;
}